In [1]:
## Truck Filling 
import pandas as pd
data = {
    "SKU": ["SKU1", "SKU2", "SKU3","SKU4"],
    "MinQty": [5, 10, 15,4],
    "MaxQty": [12, 15, 17,6],
    "AvailableQty": [10, 30, 40,11],
    "Multiplier": ["4X", "5X", "3X+2X","4X"],
    "Score":[0.5,0.3,0.1,0.2]
}
dat=pd.DataFrame(data)

In [2]:
multiplier_data={"4X":[4]*10,"5X":[5]*10,"3X+2X":[3,2]*5}
multiplier_data

{'4X': [4, 4, 4, 4, 4, 4, 4, 4, 4, 4],
 '5X': [5, 5, 5, 5, 5, 5, 5, 5, 5, 5],
 '3X+2X': [3, 2, 3, 2, 3, 2, 3, 2, 3, 2]}

In [3]:
def split_min_qty_into_equal_rows(min_qty):
    # Ensure we have enough rows for the minimum quantity
    
    # Distribute 1 unit per row
    return [1 for _ in range(min_qty)]

In [4]:
rows_df=pd.DataFrame()
dat=dat.sort_values(by="Score",ascending=False).reset_index(drop=True)
dat['order']=dat.index
dat

    SKU  MinQty  MaxQty  AvailableQty Multiplier  Score  order
0  SKU1       5      12            10         4X    0.5      0
1  SKU2      10      15            30         5X    0.3      1
2  SKU4       4       6            11         4X    0.2      2
3  SKU3      15      17            40      3X+2X    0.1      3

In [5]:
max_skus=max(dat['order'])
max_skus

3

In [6]:
df_list=[]
for i in range(0,max_skus+1):
    temp_df=dat[dat['order']==i]
    min_rows=split_min_qty_into_equal_rows(temp_df['MinQty'].tolist()[0])
    df_1=pd.DataFrame()
    df_1['QTY']=min_rows
    df_1['SKU']=temp_df['SKU'].tolist()[0]
    df_1['AvailableQty']=temp_df['AvailableQty'].tolist()[0]
    df_1['Multiplier']=temp_df['Multiplier'].tolist()[0]
    df_1['Rank']=temp_df['order'].tolist()[0]

    df_1['Qty_Type']="Min_QTY"
    df_list.append(df_1)
df_1=pd.concat(df_list)
df_1

    QTY   SKU  AvailableQty Multiplier  Rank Qty_Type
0     1  SKU1            10         4X     0  Min_QTY
1     1  SKU1            10         4X     0  Min_QTY
2     1  SKU1            10         4X     0  Min_QTY
3     1  SKU1            10         4X     0  Min_QTY
4     1  SKU1            10         4X     0  Min_QTY
0     1  SKU2            30         5X     1  Min_QTY
1     1  SKU2            30         5X     1  Min_QTY
2     1  SKU2            30         5X     1  Min_QTY
3     1  SKU2            30         5X     1  Min_QTY
4     1  SKU2            30         5X     1  Min_QTY
5     1  SKU2            30         5X     1  Min_QTY
6     1  SKU2            30         5X     1  Min_QTY
7     1  SKU2            30         5X     1  Min_QTY
8     1  SKU2            30         5X     1  Min_QTY
9     1  SKU2            30         5X     1  Min_QTY
0     1  SKU4            11         4X     2  Min_QTY
1     1  SKU4            11         4X     2  Min_QTY
2     1  SKU4            11         4X     2  Min_QTY
3     1  SKU4            11         4X     2  Min_QTY
0     1  SKU3            40      3X+2X     3  Min_QTY
1     1  SKU3            40      3X+2X     3  Min_QTY
2     1  SKU3            40      3X+2X     3  Min_QTY
3     1  SKU3            40      3X+2X     3  Min_QTY
4     1  SKU3            40      3X+2X     3  Min_QTY
5     1  SKU3            40      3X+2X     3  Min_QTY
6     1  SKU3            40      3X+2X     3  Min_QTY
7     1  SKU3            40      3X+2X     3  Min_QTY
8     1  SKU3            40      3X+2X     3  Min_QTY
9     1  SKU3            40      3X+2X     3  Min_QTY
10    1  SKU3            40      3X+2X     3  Min_QTY
11    1  SKU3            40      3X+2X     3  Min_QTY
12    1  SKU3            40      3X+2X     3  Min_QTY
13    1  SKU3            40      3X+2X     3  Min_QTY
14    1  SKU3            40      3X+2X     3  Min_QTY

In [7]:
df_list_2=[]


for i in range(0,max_skus):
    temp_df=dat[dat['order']==i]
    temp_df['Remaining_Qty']=temp_df['MaxQty'] - temp_df['MinQty']
    min_rows=split_min_qty_into_equal_rows(temp_df['Remaining_Qty'].tolist()[0])
    df=pd.DataFrame()
    df['QTY']=min_rows
    df['SKU']=temp_df['SKU'].tolist()[0]
    df['AvailableQty']=temp_df['AvailableQty'].tolist()[0]
    df['Multiplier']=temp_df['Multiplier'].tolist()[0]
    df['Rank']=temp_df['order'].tolist()[0]

    df['Qty_Type']="Max_QTY"
    df_list_2.append(df)
df_2=pd.concat(df_list_2)

/var/folders/b_/5nyb7p9d3bl8bsy2pg5xzrr40000gn/T/ipykernel_3025/4018429780.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_df['Remaining_Qty']=temp_df['MaxQty'] - temp_df['MinQty']
/var/folders/b_/5nyb7p9d3bl8bsy2pg5xzrr40000gn/T/ipykernel_3025/4018429780.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_df['Remaining_Qty']=temp_df['MaxQty'] - temp_df['MinQty']
/var/folders/b_/5nyb7p9d3bl8bsy2pg5xzrr40000gn/T/ipykernel_3025/4018429780.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_df['Remaining_Qty']=temp_df['MaxQty'] - temp_df['MinQty']

In [8]:
df=pd.concat([df_1,df_2])
df['index']=df.reset_index(drop=True).index
df

    QTY   SKU  AvailableQty Multiplier  Rank Qty_Type  index
0     1  SKU1            10         4X     0  Min_QTY      0
1     1  SKU1            10         4X     0  Min_QTY      1
2     1  SKU1            10         4X     0  Min_QTY      2
3     1  SKU1            10         4X     0  Min_QTY      3
4     1  SKU1            10         4X     0  Min_QTY      4
0     1  SKU2            30         5X     1  Min_QTY      5
1     1  SKU2            30         5X     1  Min_QTY      6
2     1  SKU2            30         5X     1  Min_QTY      7
3     1  SKU2            30         5X     1  Min_QTY      8
4     1  SKU2            30         5X     1  Min_QTY      9
5     1  SKU2            30         5X     1  Min_QTY     10
6     1  SKU2            30         5X     1  Min_QTY     11
7     1  SKU2            30         5X     1  Min_QTY     12
8     1  SKU2            30         5X     1  Min_QTY     13
9     1  SKU2            30         5X     1  Min_QTY     14
0     1  SKU4            11         4X     2  Min_QTY     15
1     1  SKU4            11         4X     2  Min_QTY     16
2     1  SKU4            11         4X     2  Min_QTY     17
3     1  SKU4            11         4X     2  Min_QTY     18
0     1  SKU3            40      3X+2X     3  Min_QTY     19
1     1  SKU3            40      3X+2X     3  Min_QTY     20
2     1  SKU3            40      3X+2X     3  Min_QTY     21
3     1  SKU3            40      3X+2X     3  Min_QTY     22
4     1  SKU3            40      3X+2X     3  Min_QTY     23
5     1  SKU3            40      3X+2X     3  Min_QTY     24
6     1  SKU3            40      3X+2X     3  Min_QTY     25
7     1  SKU3            40      3X+2X     3  Min_QTY     26
8     1  SKU3            40      3X+2X     3  Min_QTY     27
9     1  SKU3            40      3X+2X     3  Min_QTY     28
10    1  SKU3            40      3X+2X     3  Min_QTY     29
11    1  SKU3            40      3X+2X     3  Min_QTY     30
12    1  SKU3            40      3X+2X     3  Min_QTY     31
13    1  SKU3            40      3X+2X     3  Min_QTY     32
14    1  SKU3            40      3X+2X     3  Min_QTY     33
0     1  SKU1            10         4X     0  Max_QTY     34
1     1  SKU1            10         4X     0  Max_QTY     35
2     1  SKU1            10         4X     0  Max_QTY     36
3     1  SKU1            10         4X     0  Max_QTY     37
4     1  SKU1            10         4X     0  Max_QTY     38
5     1  SKU1            10         4X     0  Max_QTY     39
6     1  SKU1            10         4X     0  Max_QTY     40
0     1  SKU2            30         5X     1  Max_QTY     41
1     1  SKU2            30         5X     1  Max_QTY     42
2     1  SKU2            30         5X     1  Max_QTY     43
3     1  SKU2            30         5X     1  Max_QTY     44
4     1  SKU2            30         5X     1  Max_QTY     45
0     1  SKU4            11         4X     2  Max_QTY     46
1     1  SKU4            11         4X     2  Max_QTY     47

In [9]:
def get_inventory_remaining(df,sku):
    dat=df[df['SKU']==sku].sort_values(by='index',ascending=True)
    dat['prev_inventory_used_truck']=dat.reset_index(drop=True).index
    dat['remaining_inventory']=dat['AvailableQty'] - dat['prev_inventory_used_truck']
    return dat

In [10]:
inv_df_list=[]
for sku in df['SKU'].unique():
    inv_df_list.append(get_inventory_remaining(df,sku))
df=pd.concat(inv_df_list)
df

,QTY,SKU,AvailableQty,Multiplier,Rank,Qty_Type,index,prev_inventory_used_truck,remaining_inventory
0,1,SKU1,10,4X,0,Min_QTY,0,0,10
1,1,SKU1,10,4X,0,Min_QTY,1,1,9
2,1,SKU1,10,4X,0,Min_QTY,2,2,8
3,1,SKU1,10,4X,0,Min_QTY,3,3,7
4,1,SKU1,10,4X,0,Min_QTY,4,4,6
0,1,SKU1,10,4X,0,Max_QTY,34,5,5
1,1,SKU1,10,4X,0,Max_QTY,35,6,4
2,1,SKU1,10,4X,0,Max_QTY,36,7,3
3,1,SKU1,10,4X,0,Max_QTY,37,8,2
4,1,SKU1,10,4X,0,Max_QTY,38,9,1
5,1,SKU1,10,4X,0,Max_QTY,39,10,0
6,1,SKU1,10,4X,0,Max_QTY,40,11,-1
0,1,SKU2,30,5X,1,Min_QTY,5,0,30
1,1,SKU2,30,5X,1,Min_QTY,6,1,29
2,1,SKU2,30,5X,1,Min_QTY,7,2,28
3,1,SKU2,30,5X,1,Min_QTY,8,3,27
4,1,SKU2,30,5X,1,Min_QTY,9,4,26
5,1,SKU2,30,5X,1,Min_QTY,10,5,25
6,1,SKU2,30,5X,1,Min_QTY,11,6,24
7,1,SKU2,30,5X,1,Min_QTY,12,7,23
8,1,SKU2,30,5X,1,Min_QTY,13,8,22
9,1,SKU2,30,5X,1,Min_QTY,14,9,21
0,1,SKU2,30,5X,1,Max_QTY,41,10,20
1,1,SKU2,30,5X,1,Max_QTY,42,11,19
2,1,SKU2,30,5X,1,Max_QTY,43,12,18
3,1,SKU2,30,5X,1,Max_QTY,44,13,17
4,1,SKU2,30,5X,1,Max_QTY,45,14,16
0,1,SKU4,11,4X,2,Min_QTY,15,0,11
1,1,SKU4,11,4X,2,Min_QTY,16,1,10
2,1,SKU4,11,4X,2,Min_QTY,17,2,9
3,1,SKU4,11,4X,2,Min_QTY,18,3,8
0,1,SKU4,11,4X,2,Max_QTY,46,4,7
1,1,SKU4,11,4X,2,Max_QTY,47,5,6
0,1,SKU3,40,3X+2X,3,Min_QTY,19,0,40
1,1,SKU3,40,3X+2X,3,Min_QTY,20,1,39
2,1,SKU3,40,3X+2X,3,Min_QTY,21,2,38
3,1,SKU3,40,3X+2X,3,Min_QTY,22,3,37
4,1,SKU3,40,3X+2X,3,Min_QTY,23,4,36
5,1,SKU3,40,3X+2X,3,Min_QTY,24,5,35
6,1,SKU3,40,3X+2X,3,Min_QTY,25,6,34
7,1,SKU3,40,3X+2X,3,Min_QTY,26,7,33
8,1,SKU3,40,3X+2X,3,Min_QTY,27,8,32
9,1,SKU3,40,3X+2X,3,Min_QTY,28,9,31
10,1,SKU3,40,3X+2X,3,Min_QTY,29,10,30
11,1,SKU3,40,3X+2X,3,Min_QTY,30,11,29
12,1,SKU3,40,3X+2X,3,Min_QTY,31,12,28
13,1,SKU3,40,3X+2X,3,Min_QTY,32,13,27
14,1,SKU3,40,3X+2X,3,Min_QTY,33,14,26

In [11]:
df=df[df['remaining_inventory']>=0]
df

,QTY,SKU,AvailableQty,Multiplier,Rank,Qty_Type,index,prev_inventory_used_truck,remaining_inventory
0,1,SKU1,10,4X,0,Min_QTY,0,0,10
1,1,SKU1,10,4X,0,Min_QTY,1,1,9
2,1,SKU1,10,4X,0,Min_QTY,2,2,8
3,1,SKU1,10,4X,0,Min_QTY,3,3,7
4,1,SKU1,10,4X,0,Min_QTY,4,4,6
0,1,SKU1,10,4X,0,Max_QTY,34,5,5
1,1,SKU1,10,4X,0,Max_QTY,35,6,4
2,1,SKU1,10,4X,0,Max_QTY,36,7,3
3,1,SKU1,10,4X,0,Max_QTY,37,8,2
4,1,SKU1,10,4X,0,Max_QTY,38,9,1
5,1,SKU1,10,4X,0,Max_QTY,39,10,0
0,1,SKU2,30,5X,1,Min_QTY,5,0,30
1,1,SKU2,30,5X,1,Min_QTY,6,1,29
2,1,SKU2,30,5X,1,Min_QTY,7,2,28
3,1,SKU2,30,5X,1,Min_QTY,8,3,27
4,1,SKU2,30,5X,1,Min_QTY,9,4,26
5,1,SKU2,30,5X,1,Min_QTY,10,5,25
6,1,SKU2,30,5X,1,Min_QTY,11,6,24
7,1,SKU2,30,5X,1,Min_QTY,12,7,23
8,1,SKU2,30,5X,1,Min_QTY,13,8,22
9,1,SKU2,30,5X,1,Min_QTY,14,9,21
0,1,SKU2,30,5X,1,Max_QTY,41,10,20
1,1,SKU2,30,5X,1,Max_QTY,42,11,19
2,1,SKU2,30,5X,1,Max_QTY,43,12,18
3,1,SKU2,30,5X,1,Max_QTY,44,13,17
4,1,SKU2,30,5X,1,Max_QTY,45,14,16
0,1,SKU4,11,4X,2,Min_QTY,15,0,11
1,1,SKU4,11,4X,2,Min_QTY,16,1,10
2,1,SKU4,11,4X,2,Min_QTY,17,2,9
3,1,SKU4,11,4X,2,Min_QTY,18,3,8
0,1,SKU4,11,4X,2,Max_QTY,46,4,7
1,1,SKU4,11,4X,2,Max_QTY,47,5,6
0,1,SKU3,40,3X+2X,3,Min_QTY,19,0,40
1,1,SKU3,40,3X+2X,3,Min_QTY,20,1,39
2,1,SKU3,40,3X+2X,3,Min_QTY,21,2,38
3,1,SKU3,40,3X+2X,3,Min_QTY,22,3,37
4,1,SKU3,40,3X+2X,3,Min_QTY,23,4,36
5,1,SKU3,40,3X+2X,3,Min_QTY,24,5,35
6,1,SKU3,40,3X+2X,3,Min_QTY,25,6,34
7,1,SKU3,40,3X+2X,3,Min_QTY,26,7,33
8,1,SKU3,40,3X+2X,3,Min_QTY,27,8,32
9,1,SKU3,40,3X+2X,3,Min_QTY,28,9,31
10,1,SKU3,40,3X+2X,3,Min_QTY,29,10,30
11,1,SKU3,40,3X+2X,3,Min_QTY,30,11,29
12,1,SKU3,40,3X+2X,3,Min_QTY,31,12,28
13,1,SKU3,40,3X+2X,3,Min_QTY,32,13,27
14,1,SKU3,40,3X+2X,3,Min_QTY,33,14,26

In [22]:
def getmaxRow(df,sku):
    valid_sku_type=sku+"_Min_QTY"
    df['sku_qty']=df['SKU']+"_"+df['Qty_Type']
    agg_df = df.groupby("row_id").agg({
    "sku_qty": list,  # Aggregate SKU into a list
    }).reset_index()

    agg_df['is_valid']=agg_df.apply(lambda row:1 if  valid_sku_type in row['sku_qty'] else 0, axis=1)
    print(agg_df)
    return agg_df.loc[agg_df['is_valid']==1,'row_id'].tolist()

In [43]:
import numpy as np
done_data_list=[]
max_rows=10
row_filled=0
rows_to_ignore=[]
## Create Rows First
ran=max_skus
to_iterate=True
start_row_id=0
while to_iterate:
    for i in range(0,ran+1):
        filter_df=df[~df['index'].isin(rows_to_ignore)]
        sku_row_filled=0
        temp=filter_df[filter_df['Rank']==i]
        sku=temp['SKU'].tolist()[0]
        multiplier_order=temp['Multiplier'].tolist()[0]
        multiplier=multiplier_data[multiplier_order]
        same_multiplier_data=filter_df[filter_df['Multiplier']==multiplier_order]

        same_multiplier_data=same_multiplier_data.sort_values(by="index",ascending=True)
        cumulative_sum = [sum(multiplier[:i+1]) for i in range(len(multiplier))]

        same_multiplier_data['row_index']=same_multiplier_data.reset_index(drop=True).index+1
        same_multiplier_data['is_modulus']=same_multiplier_data['row_index'].apply(lambda x:1 if x in cumulative_sum else np.NaN)
        same_multiplier_data['cum_rows']=same_multiplier_data['is_modulus'].fillna(0).cumsum()
        same_multiplier_data['row_id']=same_multiplier_data.apply(lambda row:np.NaN if pd.isnull(row['is_modulus']) else row['cum_rows']+row_filled,axis=1 )
        same_multiplier_data['row_id']=same_multiplier_data['row_id'].bfill()
        
        
        print(same_multiplier_data)
        valid_row_id=getmaxRow(same_multiplier_data,sku)

        same_multiplier_data=same_multiplier_data[same_multiplier_data['row_id'].isin(valid_row_id)]
        same_multiplier_data=same_multiplier_data[same_multiplier_data['row_id']<=max_rows]
        done_data_list.append(same_multiplier_data)
        for val in same_multiplier_data['index'].tolist():
            rows_to_ignore.append(val)
        row_filled=max(same_multiplier_data['row_id'])
        if i==ran:
            to_iterate=False
        if row_filled==max_rows:
            to_iterate=False
        print('Row Filled',row_filled)
    



        


done_data=pd.concat(done_data_list)
done_data.to_csv("Done_Truck.csv",index=False)

   QTY   SKU  AvailableQty Multiplier  Rank Qty_Type  index  \
0    1  SKU1            10         4X     0  Min_QTY      0
1    1  SKU1            10         4X     0  Min_QTY      1
2    1  SKU1            10         4X     0  Min_QTY      2
3    1  SKU1            10         4X     0  Min_QTY      3
4    1  SKU1            10         4X     0  Min_QTY      4
0    1  SKU4            11         4X     2  Min_QTY     15
1    1  SKU4            11         4X     2  Min_QTY     16
2    1  SKU4            11         4X     2  Min_QTY     17
3    1  SKU4            11         4X     2  Min_QTY     18
0    1  SKU1            10         4X     0  Max_QTY     34
1    1  SKU1            10         4X     0  Max_QTY     35
2    1  SKU1            10         4X     0  Max_QTY     36
3    1  SKU1            10         4X     0  Max_QTY     37
4    1  SKU1            10         4X     0  Max_QTY     38
5    1  SKU1            10         4X     0  Max_QTY     39
0    1  SKU4            11         4X     2  Max_QTY     46
1    1  SKU4            11         4X     2  Max_QTY     47

   prev_inventory_used_truck  remaining_inventory  row_index  is_modulus  \
0                          0                   10          1         NaN
1                          1                    9          2         NaN
2                          2                    8          3         NaN
3                          3                    7          4         1.0
4                          4                    6          5         NaN
0                          0                   11          6         NaN
1                          1                   10          7         NaN
2                          2                    9          8         1.0
3                          3                    8          9         NaN
0                          5                    5         10         NaN
1                          6                    4         11         NaN
2                          7                    3         12         1.0
3                          8                    2         13         NaN
4                          9                    1         14         NaN
5                         10                    0         15         NaN
0                          4                    7         16         1.0
1                          5                    6         17         NaN

   cum_rows  row_id
0       0.0     1.0
1       0.0     1.0
2       0.0     1.0
3       1.0     1.0
4       1.0     2.0
0       1.0     2.0
1       1.0     2.0
2       2.0     2.0
3       2.0     3.0
0       2.0     3.0
1       2.0     3.0
2       3.0     3.0
3       3.0     4.0
4       3.0     4.0
5       3.0     4.0
0       4.0     4.0
1       4.0     NaN
   row_id                                            sku_qty  is_valid
0     1.0  [SKU1_Min_QTY, SKU1_Min_QTY, SKU1_Min_QTY, SKU...         1
1     2.0  [SKU1_Min_QTY, SKU4_Min_QTY, SKU4_Min_QTY, SKU...         1
2     3.0  [SKU4_Min_QTY, SKU1_Max_QTY, SKU1_Max_QTY, SKU...         0
3     4.0  [SKU1_Max_QTY, SKU1_Max_QTY, SKU1_Max_QTY, SKU...         0
Row Filled 2.0
   QTY   SKU  AvailableQty Multiplier  Rank Qty_Type  index  \
0    1  SKU2            30         5X     1  Min_QTY      5
1    1  SKU2            30         5X     1  Min_QTY      6
2    1  SKU2            30         5X     1  Min_QTY      7
3    1  SKU2            30         5X     1  Min_QTY      8
4    1  SKU2            30         5X     1  Min_QTY      9
5    1  SKU2            30         5X     1  Min_QTY     10
6    1  SKU2            30         5X     1  Min_QTY     11
7    1  SKU2            30         5X     1  Min_QTY     12
8    1  SKU2            30         5X     1  Min_QTY     13
9    1  SKU2            30         5X     1  Min_QTY     14
0    1  SKU2            30         5X     1  Max_QTY     41
1    1  SKU2            30         5X     1  Max_QTY     42
2    1  SKU2            30         5X     1  Max_QTY     43
3    1  SKU2            30         5X     1  Max_QTY     44
4    1  SKU2            30         5X     1  Max_QTY     45

   prev_inventory_used_truck  remaining_inventory  row_index  is_modulus  \
0                          0                   30          1         NaN
1                          1                   29          2         NaN
2                          2                   28          3         NaN
3                          3                   27          4         NaN
4                          4                   26          5         1.0
5                          5                   25          6         NaN
6                          6                   24          7         NaN
7                          7                   23          8         NaN
8                          8                   22          9         NaN
9                          9                   21         10         1.0
0                         10                   20         11         NaN
1                         11                   19         12         NaN
2                         12                   18         13         NaN
3                         13                   17         14         NaN
4                         14                   16         15         1.0

   cum_rows  row_id
0       0.0     3.0
1       0.0     3.0
2       0.0     3.0
3       0.0     3.0
4       1.0     3.0
5       1.0     4.0
6       1.0     4.0
7       1.0     4.0
8       1.0     4.0
9       2.0     4.0
0       2.0     5.0
1       2.0     5.0
2       2.0     5.0
3       2.0     5.0
4       3.0     5.0
   row_id                                            sku_qty  is_valid
0     3.0  [SKU2_Min_QTY, SKU2_Min_QTY, SKU2_Min_QTY, SKU...         1
1     4.0  [SKU2_Min_QTY, SKU2_Min_QTY, SKU2_Min_QTY, SKU...         1
2     5.0  [SKU2_Max_QTY, SKU2_Max_QTY, SKU2_Max_QTY, SKU...         0
Row Filled 4.0
   QTY   SKU  AvailableQty Multiplier  Rank Qty_Type  index  \
3    1  SKU4            11         4X     2  Min_QTY     18
0    1  SKU1            10         4X     0  Max_QTY     34
1    1  SKU1            10         4X     0  Max_QTY     35
2    1  SKU1            10         4X     0  Max_QTY     36
3    1  SKU1            10         4X     0  Max_QTY     37
4    1  SKU1            10         4X     0  Max_QTY     38
5    1  SKU1            10         4X     0  Max_QTY     39
0    1  SKU4            11         4X     2  Max_QTY     46
1    1  SKU4            11         4X     2  Max_QTY     47

   prev_inventory_used_truck  remaining_inventory  row_index  is_modulus  \
3                          3                    8          1         NaN
0                          5                    5          2         NaN
1                          6                    4          3         NaN
2                          7                    3          4         1.0
3                          8                    2          5         NaN
4                          9                    1          6         NaN
5                         10                    0          7         NaN
0                          4                    7          8         1.0
1                          5                    6          9         NaN

   cum_rows  row_id
3       0.0     5.0
0       0.0     5.0
1       0.0     5.0
2       1.0     5.0
3       1.0     6.0
4       1.0     6.0
5       1.0     6.0
0       2.0     6.0
1       2.0     NaN
   row_id                                            sku_qty  is_valid
0     5.0  [SKU4_Min_QTY, SKU1_Max_QTY, SKU1_Max_QTY, SKU...         1
1     6.0  [SKU1_Max_QTY, SKU1_Max_QTY, SKU1_Max_QTY, SKU...         0
Row Filled 5.0
    QTY   SKU  AvailableQty Multiplier  Rank Qty_Type  index  \
0     1  SKU3            40      3X+2X     3  Min_QTY     19
1     1  SKU3            40      3X+2X     3  Min_QTY     20
2     1  SKU3            40      3X+2X     3  Min_QTY     21
3     1  SKU3            40      3X+2X     3  Min_QTY     22
4     1  SKU3            40      3X+2X     3  Min_QTY     23
5     1  SKU3            40      3X+2X     3  Min_QTY     24
6     1  SKU3            40      3X+2X     3  Min_QTY     25
7     1  SKU3            40      3X+2X     3  Min_QTY     26
8     1  SKU3            40      3X+2X     3  Min_QTY     27
9     1  SKU3            40      3X+2X     3  Min_QTY     28
10    1  SKU3            40      3X+2X     3  Min_QTY     29
11    1  SKU3            40      3X+2X     3  Min_QTY     30
12    1  SKU3            40      3X+2X     3  Min_QTY     31
13    1  SKU3            40      3X+2X     3  Min_QTY     32
14    1  SKU3            40      3X+2X     3  Min_QTY     33

    prev_inventory_used_truck  remaining_inventory  row_index  is_modulus  \
0                           0                   40          1         NaN
1                           1                   39          2         NaN
2                           2                   38          3         1.0
3                           3                   37          4         NaN
4                           4                   36          5         1.0
5                           5                   35          6         NaN
6                           6                   34          7         NaN
7                           7                   33          8         1.0
8                           8                   32          9         NaN
9                           9                   31         10         1.0
10                         10                   30         11         NaN
11                         11                   29         12         NaN
12                         12                   28         13         1.0
13                         13                   27         14         NaN
14                         14                   26         15         1.0

    cum_rows  row_id
0        0.0     6.0
1        0.0     6.0
2        1.0     6.0
3        1.0     7.0
4        2.0     7.0
5        2.0     8.0
6        2.0     8.0
7        3.0     8.0
8        3.0     9.0
9        4.0     9.0
10       4.0    10.0
11       4.0    10.0
12       5.0    10.0
13       5.0    11.0
14       6.0    11.0
   row_id                                     sku_qty  is_valid
0     6.0  [SKU3_Min_QTY, SKU3_Min_QTY, SKU3_Min_QTY]         1
1     7.0                [SKU3_Min_QTY, SKU3_Min_QTY]         1
2     8.0  [SKU3_Min_QTY, SKU3_Min_QTY, SKU3_Min_QTY]         1
3     9.0                [SKU3_Min_QTY, SKU3_Min_QTY]         1
4    10.0  [SKU3_Min_QTY, SKU3_Min_QTY, SKU3_Min_QTY]         1
5    11.0                [SKU3_Min_QTY, SKU3_Min_QTY]         1
Row Filled 10.0

In [44]:
done_data

,QTY,SKU,AvailableQty,Multiplier,Rank,Qty_Type,index,prev_inventory_used_truck,remaining_inventory,row_index,is_modulus,cum_rows,row_id,sku_qty
0,1,SKU1,10,4X,0,Min_QTY,0,0,10,1,NaN,0.0,1.0,SKU1_Min_QTY
1,1,SKU1,10,4X,0,Min_QTY,1,1,9,2,NaN,0.0,1.0,SKU1_Min_QTY
2,1,SKU1,10,4X,0,Min_QTY,2,2,8,3,NaN,0.0,1.0,SKU1_Min_QTY
3,1,SKU1,10,4X,0,Min_QTY,3,3,7,4,1.0,1.0,1.0,SKU1_Min_QTY
4,1,SKU1,10,4X,0,Min_QTY,4,4,6,5,NaN,1.0,2.0,SKU1_Min_QTY
0,1,SKU4,11,4X,2,Min_QTY,15,0,11,6,NaN,1.0,2.0,SKU4_Min_QTY
1,1,SKU4,11,4X,2,Min_QTY,16,1,10,7,NaN,1.0,2.0,SKU4_Min_QTY
2,1,SKU4,11,4X,2,Min_QTY,17,2,9,8,1.0,2.0,2.0,SKU4_Min_QTY
0,1,SKU2,30,5X,1,Min_QTY,5,0,30,1,NaN,0.0,3.0,SKU2_Min_QTY
1,1,SKU2,30,5X,1,Min_QTY,6,1,29,2,NaN,0.0,3.0,SKU2_Min_QTY
2,1,SKU2,30,5X,1,Min_QTY,7,2,28,3,NaN,0.0,3.0,SKU2_Min_QTY
3,1,SKU2,30,5X,1,Min_QTY,8,3,27,4,NaN,0.0,3.0,SKU2_Min_QTY
4,1,SKU2,30,5X,1,Min_QTY,9,4,26,5,1.0,1.0,3.0,SKU2_Min_QTY
5,1,SKU2,30,5X,1,Min_QTY,10,5,25,6,NaN,1.0,4.0,SKU2_Min_QTY
6,1,SKU2,30,5X,1,Min_QTY,11,6,24,7,NaN,1.0,4.0,SKU2_Min_QTY
7,1,SKU2,30,5X,1,Min_QTY,12,7,23,8,NaN,1.0,4.0,SKU2_Min_QTY
8,1,SKU2,30,5X,1,Min_QTY,13,8,22,9,NaN,1.0,4.0,SKU2_Min_QTY
9,1,SKU2,30,5X,1,Min_QTY,14,9,21,10,1.0,2.0,4.0,SKU2_Min_QTY
3,1,SKU4,11,4X,2,Min_QTY,18,3,8,1,NaN,0.0,5.0,SKU4_Min_QTY
0,1,SKU1,10,4X,0,Max_QTY,34,5,5,2,NaN,0.0,5.0,SKU1_Max_QTY
1,1,SKU1,10,4X,0,Max_QTY,35,6,4,3,NaN,0.0,5.0,SKU1_Max_QTY
2,1,SKU1,10,4X,0,Max_QTY,36,7,3,4,1.0,1.0,5.0,SKU1_Max_QTY
0,1,SKU3,40,3X+2X,3,Min_QTY,19,0,40,1,NaN,0.0,6.0,SKU3_Min_QTY
1,1,SKU3,40,3X+2X,3,Min_QTY,20,1,39,2,NaN,0.0,6.0,SKU3_Min_QTY
2,1,SKU3,40,3X+2X,3,Min_QTY,21,2,38,3,1.0,1.0,6.0,SKU3_Min_QTY
3,1,SKU3,40,3X+2X,3,Min_QTY,22,3,37,4,NaN,1.0,7.0,SKU3_Min_QTY
4,1,SKU3,40,3X+2X,3,Min_QTY,23,4,36,5,1.0,2.0,7.0,SKU3_Min_QTY
5,1,SKU3,40,3X+2X,3,Min_QTY,24,5,35,6,NaN,2.0,8.0,SKU3_Min_QTY
6,1,SKU3,40,3X+2X,3,Min_QTY,25,6,34,7,NaN,2.0,8.0,SKU3_Min_QTY
7,1,SKU3,40,3X+2X,3,Min_QTY,26,7,33,8,1.0,3.0,8.0,SKU3_Min_QTY
8,1,SKU3,40,3X+2X,3,Min_QTY,27,8,32,9,NaN,3.0,9.0,SKU3_Min_QTY
9,1,SKU3,40,3X+2X,3,Min_QTY,28,9,31,10,1.0,4.0,9.0,SKU3_Min_QTY
10,1,SKU3,40,3X+2X,3,Min_QTY,29,10,30,11,NaN,4.0,10.0,SKU3_Min_QTY
11,1,SKU3,40,3X+2X,3,Min_QTY,30,11,29,12,NaN,4.0,10.0,SKU3_Min_QTY
12,1,SKU3,40,3X+2X,3,Min_QTY,31,12,28,13,1.0,5.0,10.0,SKU3_Min_QTY